
/* ====================== MEDIA QUERIES (RESPONSIVE) ====================== */

/*  MOBILE */
@media screen and (min-width: 320px) and (max-width: 700px){

	.inside {
		display: flex;
		flex-direction: row;
		width: 100vw;
	}

	.inside header {
		width:100vw;
	}

	header {
		display: flex;
		flex-direction: column;
	}

	header #breadcrumb {
	  order: 1;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
		width: 100vw;
	}

	.inside #map-container {
	  height: 300px;
		margin-left: 5px;
		margin-right: 5px;
	  order: 2;
	  position: relative;
  	text-align: center;
		width: 100vw;
	}

  .inside #restaurant-container {
		margin: auto;
		order: 3;
		padding: 132px 10px 5px 10px;
  	position: relative;
	  text-align: center;
	  width: 100vw;
	}

	#restaurant-cuisine {
		width: 100vw;
	}

  .inside #reviews-container {
	  margin: 0px;
		padding-left: 10px;
		padding-right: 10px;
	  position: relative;
	  width: 100vw;
	}

	.inside #footer {
	  bottom: 0px;
	  font-size: 9px;
	  order: 4;
	  padding: 10px 4px 10px 4px;
    width: 100vw;
	}

	#reviews-list li {
	  margin-left: 10px;
	  margin-right: 20px;
	  padding: 20px;
  }

	#reviews-container h3 {
	  text-align: center;
	}
}

/*  TABLET */

@media screen and (min-width: 701px) and (max-width: 1025px){

	 #map {
		height: 210px;
		margin: auto;
	}

	.filter-options {
		display: flex;
		flex-direction:row;
		flex-wrap: wrap;
		height: 140px;
		margin-left: 30px;
		width: 96%;
	}

	.filter-options select{
		display: flex;
		flex-direction: row;
		height: 70px;
	}

	 #neighborhoods-select {
		display:flex;
		flex-wrap: nowrap;
		font-size: 14pt;
		height:30%;
		margin-right: 80px;
		text-align: center;
		width: 40%;
	}

  #cuisines-select {
	  display: flex;
	  flex-wrap: wrap;
	  font-size: 1.4em;
	  height: 30%;
	  margin-right: 80px;
	  margin-left:145px;
	  margin-top: -20px;
	  width: 40%;
  }

	#restaurant-container,#reviews-container {
	 font-size: 14pt;
	 padding-left: 20px;
	 padding-right: 20px;
	 margin: 5px;
	 width: 48%;
 }

 .inside map-container {
	 max-height: 280px;
	 position: absolute;
	 width: 90%;
	 z-index: 1;
 }

 .inside #footer {
	 bottom: 0;
	 font-size: 9pt;
	 margin-left: 5px;
	 width: 41%;
 }
}
